@use '../form/PdxField.scss';
@use '../foundation/control' as control;

.PdxTreeSelect {
  width: 100%;
}

.PdxTreeSelectControl {
  @include control.field-control;

  width: 100%;
  min-height: 36px;
  padding-inline: var(--spacing-md);
}
