@use '../foundation/control' as control;
@use './PdxField.scss';

.PdxRegexInput {
  width: 100%;
}

.PdxRegexInputControl {
  @include control.field-control;

  width: 100%;
  min-height: 36px;
  padding-inline: var(--spacing-md);
}

.PdxRegexInput.Small .PdxRegexInputControl {
  min-height: 32px;
  padding-inline: var(--spacing-sm);
  font-size: var(--font-size-xs);
}

.PdxRegexInput.Large .PdxRegexInputControl {
  min-height: 44px;
  padding-inline: var(--spacing-md);
  font-size: var(--font-size-md);
}
